/*-----------------------------------------------------------------------------*/
.caches_detail_header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #e2e5f0;
  text-align: center;
  border-bottom: 1px solid black;
  height: 25px;
}

.caches_detail_row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  height: 20px;
}

.caches_detail_row:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
