.object_table {
  font-size: 0.9em;
  background-color: #fff;
  color: #444;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid darkgrey;
  /* margin-bottom: 10px; */
}

.object_table:hover {
  cursor: pointer;
}

.object_table_header {
  display: grid;
  height: 25px;
  grid-template-columns: 1fr;
  border-bottom: 3px double darkgray;
}

.object_table_header_item {
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* background-color: pink; */
  text-transform: capitalize;
  font-weight: 600;
  background-color: #e2e5f0;
}

.object_table_row {
  display: grid;
  height: 25px;
  grid-template-columns: 1fr 7fr;
}

.object_table_row:hover {
  background-color: antiquewhite;
}

.object_table_row.left {
  text-align: left;
  border-right: 1px solid darkgray;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* background-color: pink; */
  text-transform: capitalize;
  font-weight: 600;
  overflow: hidden;
  /* border: 1px dashed blue; */
}

.object_table_right {
  text-align: left;
  /* border-right: 1px solid darkgrey; */
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* background-color: pink; */
  /* border: 1px dashed blue; */
}

.object_table_table_item.number {
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  /* border: 1px dashed green; */
}
