# -------------------------------------------------------------------------------------------
# qblocks - fast, easily-accessible, fully-decentralized data from blockchains
# copyright (c) 2016, 2021 TrueBlocks, LLC (http://trueblocks.io)
# -------------------------------------------------------------------------------------------
#
# This file gives an example of how one might customize this docker image. Most of the configuration
# is found in the file `docker-compose.yml`. You should not need to edit that file. Instead, customize
# this file after copying it to `docker-compose.local.yml`. (It is important to use that file name as
# it is ignored in `.gitignore`).
#
# Once your customization is complete, start the docker image with:
#
#    docker compose -f docker-compose.yml -f docker-compose.local.yml up
#
# The settings in this file expose the internal docker folders externally on the host machine (i.e., the
# machine on which this docker image is running). One might want to do this in order to get direct access
# to the Unchained Index, the cache, or -- most importantly -- the exported data.
#
# Note that we customize the same two services as we find in the `docker-compose.yml`. We expose the
# internal docker folders to the host machine with the `bind` directive. The following assumes the
# existance on your host machine of a folder called ~/Data/.
#
# Bind the same folders for each service (/cache and /index). The `source` folder is the name of the
# folder on the host machine. The `target` is the name of the folder internal to the docker image.
#
services:
  core:
    volumes:
      - type: bind
        source: ~/Data/cache
        target: /cache
      - type: bind
        source: ~/Data/unchained
        target: /index
  monitors:
    volumes:
      - type: bind
        source: ~/Data/cache
        target: /cache
      - type: bind
        source: ~/Data/unchained
        target: /index
      - type: bind
        source: ~/Data/addresses
        target: /addresses
