version: "3.4"

volumes:
  trueblocks_data: {}

services:
  trueblocks:
    build: .
    image: trueblocks:0.0.1
    container_name: trueblocks.dnp.dappnode.eth
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    volumes:
      - trueblocks_data:/root/.quickBlocks
    ports:
      - "${TRUEBLOCKS_PORT}:80"
    env_file:
      - trueblocks.local.env #Change for trueblocks.public.dappnode.eth.env for dAppNodeDeployment
