name: TrueBlocksCore

services:
  core:
    image: trueblocks/core:v0.50.0-beta
    build: ./
    env_file: .env
    ports:
      - "8080:${SERVE_PORT-8080}"
    volumes:
      - unchained:/unchained
      - cache:/cache
volumes:
  unchained:
  cache:
