TB_CHAINS_MAINNET_RPCPROVIDER=http://host.docker.internal:8545
TB_SETTINGS_DEFAULTCHAIN=mainnet
#TB_KEYS_ETHERSCAN_APIKEY=<your_key>
#TB_SETTINGS_DEFAULTGATEWAY=https://ipfs.unchainedindex.io/ipfs/
#TB_KEYS_PINATA_APIKEY=<your_key>
#TB_KEYS_PINATA_JWT=<your_jqt_key>
#TB_KEYS_PINATA_SECRET=<your_secret>
#SCRAPER_MAINNET_ARGS=
#SCRAPER_MAINNET_FILE=
#MONITORS_WATCH_FILE=
#MONITORS_WATCH_ARGS=
#TB_CHAINS_MAINNET_CHAINID=1
#TB_CHAINS_MAINNET_SYMBOL=ETH
