# This is an example `.env` file. Copy this file and rename it if you wish.

#---------
# TrueBlocks runs against any evm-based blockchain. Specify the default chain you
# wish to use. The default chain is the one `chifra` processes if you don't
# specify a `--chain` parameter.
#---------
TB_SETTINGS_DEFAULTCHAIN=mainnet

#---------
# For each chain you wish to support, you must instruct TrueBlocks how to connect
# to it. Below, we configure for "mainnet" and "sepolia". If you wish to support
# other chains, add their RPC providers below. Variables are named as follows:
# TB_CHAINS_<chain>_RPCPROVIDER. The value provided should be the URL of the RPC
# provider for the chain. It's highly suggested that the URL is local. 
#---------
# Note: The following values most likely will not work on your machine. Replace
#       these vaules with values that work on your machine. The values below work
#       for us on a Mac running Docker Desktop.
TB_CHAINS_MAINNET_RPCPROVIDER=http://host.docker.internal:8545
TB_CHAINS_SEPOLIA_RPCPROVIDER=http://host.docker.internal:8546

#---------
# This value, which is optional, enables the articulation feature. Eventually, we
# will provide a way to use the articulation feature without an API key. In the
# meantime, you can get an API key from https://etherscan.io/apis.
#---------
TB_KEYS_ETHERSCAN_APIKEY=<not-set>

#---------
# These two paths, while optional, allow us to more easily use the data produced
# by TrueBlocks outside the docker image. We recommend you leave these settings
# as they are.
#---------
TB_SETTINGS_CACHEPATH=/cache
TB_SETTINGS_INDEXPATH=/unchained
