TB_CHAINS_MAINNET_RPCPROVIDER=http://host.docker.internal:8545
TB_CHAINS_MAINNET_CHAINID=1
TB_CHAINS_MAINNET_SYMBOL=ETH

TB_SETTINGS_DEFAULTCHAIN=mainnet
TB_SETTINGS_CACHEPATH=/cache
TB_SETTINGS_INDEXPATH=/unchained
