.data_table {
  font-size: 0.9em;
  background-color: #fff;
  color: #444;
  font-family: 'Courier New', Courier, monospace;
  border-top: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  /* margin-bottom: 10px; */
}

.data_table_header {
  display: grid;
  background-color: #e2e5f0;
  text-align: center;
  border-bottom: 1px solid darkgrey;
  text-transform: capitalize;
  height: 28px;
  font-weight: 600;
  vertical-align: middle;
  /* border: 1px dashed blue; */
}

.data_table_header_item {
  border-right: 1px solid darkgrey;
}

.data_table_row {
  display: grid;
  height: 25px;
  /* border: 1px dashed blue; */
}

.data_table_row:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.data_table_wide_row {
  display: grid;
  height: 25px;
  grid-template-columns: 1r;
  border: 1px dashed blue;
  text-align: center;
}

.data_table_wide_row:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.data_table_table_item {
  text-align: left;
  border-right: 1px solid darkgrey;
  padding-left: 8px;
  padding-right: 8px;
  /* border: 1px dashed blue; */
}

.data_table_table_item.number {
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
  /* border: 1px dashed blue; */
}
