.footer-container {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-content: flex-start;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.5em;
  color: #444;
  /* border: 1px black solid; */
}

.left-item {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 5px;
  /* border: 1px solid red; */
}
.linker {
  text-decoration: none;
  color: #444;
}

.right-item {
  /* display: grid; */
  flex-flow: row;
  box-align: right;
  padding-top: 3px;
  /* border: 1px solid green; */
}

.social {
  height: 33px;
  width: 33px;
  color: #444;
}
