.popup {
  position: fixed;
  width: 800px;
  height: 400px;
  top: 15%;
  left: 15%;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: moccasin;
  border: 1px tan solid;
  padding: 10px;
  box-shadow: 1px 1px 3px 3px tan;
}
.popup\_inner {
  /* position: absolute; */
  /* left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%; */
  margin: auto;
  border-radius: 20px;
  background: white;
}
