.progress-wrapper {

}

.progress-wrapper.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
