/*-----------------------------------------------------------------------------*/
.status-panel .title .material-icons {
  background: #e3e5ef;
}

.status-panel:not(.shrinked) .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-panel.shrinked {
  position: relative;
  min-width: auto;
  flex-basis: auto;
}

.status-panel.shrinked .title {
  border-bottom: none;
}

.status-panel.shrinked .title span {
  position: absolute;
  top: 3.8em;
  left: 0.7em;

  transform: rotate(-90deg);
  transform-origin: left;
  line-height: 1;

  word-break: normal;
}

.status-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0.2em;
}

.status-details .disconnected {
  color: #b40505;
}

.status-details .connected {
  color: #97cc3b;
}

.status-details .header {
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #03415d;
}

.status-details .separator {
  width: 100%;
  height: 0.9em;
}

.status-details .left {
  width: 30%;
  padding-left: 1em;
  border-bottom: 1px solid #eee;
}

.status-details .right {
  width: 70%;
  padding-left: 1em;
  border-bottom: 1px solid #eee;
}

.status-details .doublewide {
  width: 100%;
  font-size: 0.85em;
  padding-left: 2.25em;
  text-indent: -1em;
  border-bottom: 1px solid #eee;
}

.status-details .doublewide-bold {
  display: inline;
  font-weight: 600;
  color: #03415d;
}

.status-details .traffic-light {
  vertical-align: top;
  height: 23px;
  width: 37px;
  padding: 4px;
  padding-top: 6px;
}
