/* ------------------------------------------------------------------------ */
.address-add input {
  margin: 0.1em;
  width: 40em;
  background-color: antiquewhite;
  padding: 0px;
}

/*-----------------------------------------------------------------------------*/
.detail_header.addresses {
  grid-template-columns: 2fr 1fr 3fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.detail_row.addresses {
  grid-template-columns: 2fr 1fr 3fr 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
