/*-----------------------------------------------------------------------------*/
.address-table {
  display: flex;
  flex-flow: row wrap;
  padding: 1px;
}

/*-----------------------------------------------------------------------------*/
.address-add input {
  margin: 0.1em;
  width: 40em;
  background-color: antiquewhite;
  padding: 0px;
}
