/*------------------------------------------*/
.menu-item {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
  text-align: left;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0.5em;
  margin: 0px 4px 4px 4px;
  border: 1px solid #6b7a89;
  background-color: #a7b7c2;
}

.menu-item.is-active {
  width: 96%;
  font-weight: 700;
  color: #42505f;
  background-color: #e2e5f0;
  border: 1px dashed #6b7a89;
}

.menu-item:hover {
  color: #6f8296;
  background-color: #e2e5f0;
}

/*------------------------------------------*/
.submenu-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  margin-bottom: 2px;
}

.submenu-item {
  height: 30px;
  width: 90%;
  margin: 0 7%;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.95em;
  line-height: 1.25em;
  padding-top: 0.3em;
  padding-left: 5px;
  text-align: left;
  /* padding: 0.5em;
  margin: 0px 4px 4px 4px; */
  border: 1px solid #6b7a89;
  background-color: #a7b7c2;
}

.submenu-item:hover {
  border: 1px solid #bbb;
  background-color: lightsalmon;
}

.submenu-item a {
  text-decoration: none;
}

.submenu-item.is-active {
  /* font-weight: 700; */
  background-color: salmon;
  border-right: 3px salmon solid;
}
