/*-----------------------------------------------------------------------------*/
.inner-panel .digests-chart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.inner-panel .digests-chart-container .digests-grid {
  width: 9%;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.inner-panel .digests-chart-container .digests-grid .filling {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-panel .digests-chart-container .digests-grid .filling.finalized {
  background-color: #fff;
  color: #72aa74;
  font-weight: 300;
  font-size: 0.7em;
}

.inner-panel .digests-chart-container .digests-grid .filling.inactive {
  background-color: #fff;
}

.inner-panel .digests-chart-container .digests-grid .filling.in-progress {
  background: repeating-linear-gradient(-45deg, #daeeda, #daeeda 5px, white 5px, white 10px);
  background-repeat: repeat;
}

.inner-panel .digests-chart-container .digests-grid .filling.in-progress:hover {
  background: repeating-linear-gradient(-45deg, antiquewhite, antiquewhite 5px, white 5px, white 10px);
  background-repeat: repeat;
}

.inner-panel .digests-chart-container .digests-grid .filling.finalized:hover,
.inner-panel .digests-chart-container .digests-grid .filling.in-progress:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-text-hover);
  cursor: zoom-in;
}

/*------------------------------------------*/
.inner-index {
  width: 99%;
  padding: 2px;
  margin-left: 6px;
  margin-top: 2px;
  background-color: wheat;
  border: 1px dashed sandybrown;
}

.inner-index h4 {
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #03415d;
}

/*------------------------------------------*/
.digests-grid.digests-x-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  background-color: #e2e5f0;
  /* background-color: red; */
  border-left: 1px solid #aaa;
}

.digests-grid.digests-y-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: black;
  font-weight: 600;
  border-top: 1px solid #aaa;
  background-color: #e2e5f0;
  /* background-color: blue; */
}

.digests-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
