/*-----------------------------------------------------------------------------*/
.inner-panel .digests-chart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.inner-panel .digests-chart-container .digests-grid {
  width: 9%;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.inner-panel .digests-chart-container .digests-grid .filling {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-panel .digests-chart-container .digests-grid .filling.finalized {
  background-color: #fff;
  color: #72aa74;
  font-weight: 300;
  font-size: 0.7em;
}

.inner-panel .digests-chart-container .digests-grid .filling.inactive {
  background-color: #fff;
}

.inner-panel .digests-chart-container .digests-grid .filling.in-progress {
  background: repeating-linear-gradient(-45deg, #daeeda, #daeeda 5px, white 5px, white 10px);
  background-repeat: repeat;
}

.inner-panel .digests-chart-container .digests-grid .filling.in-progress:hover {
  background: repeating-linear-gradient(-45deg, antiquewhite, antiquewhite 5px, white 5px, white 10px);
  background-repeat: repeat;
}

.inner-panel .digests-chart-container .digests-grid .filling.finalized:hover,
.inner-panel .digests-chart-container .digests-grid .filling.in-progress:hover {
  /* background-color: lavender; */
  background-color: antiquewhite;
  cursor: zoom-in;
  color: #b9c7b9;
}

/*------------------------------------------*/
.inner-index {
  width: 100%;
  padding: 0px;
  margin-top: 0px;
  background-color: sandybrown;
}

.inner-index h4 {
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #03415d;
}

/*------------------------------------------*/
.digests-grid.digests-x-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  background-color: #e2e5f0;
  /* background-color: red; */
  border-left: 1px solid #aaa;
}

.digests-grid.digests-y-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: black;
  font-weight: 600;
  border-top: 1px solid #aaa;
  background-color: #e2e5f0;
  /* background-color: blue; */
}

.digests-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.digests-inright {
  text-align: right;
  color: gray;
}

.digests-inright_red {
  text-align: right;
  color: red;
  font-weight: 900;
}

.digests-inright_blue {
  text-align: right;
  color: blue;
  font-weight: 900;
}

.digests-fun-facts {
  display: flex;
  /* border: 1px dashed #333; */
}

.digests-fun-facts div {
  width: 100%;
  font-size: smaller;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin-left: 4px;
}

.fact {
  position: absolute;
}

.fact div {
  background-color: whitesmoke;
}

.digests-fact-top {
  font-weight: 700;
}

/*-----------------------------------------------------------------------------*/
.digests-index-node {
  width: 19.5%;
  font-size: 0.8em;
  margin: 0.2%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(245, 245, 245); */
  background-color: antiquewhite;
  padding: 10px;
  border: 1px solid purple;
}

.digests-index-node :nth-child(odd) {
  font-weight: bold;
}

.digests-index-node div {
  width: 50%;
}

.digests-index-node .first {
  background-color: #eee;
}
