.object_table {
  font-size: 0.9em;
  background-color: #fff;
  color: #444;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid var(--color-border-primary);
  text-overflow: ellipsis;
  overflow: hidden;
}

.object_table:hover {
  cursor: pointer;
}

.ot_thead {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  border-bottom: 3px double var(--color-border-primary);
}

.ot_th {
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--color-table-bg-primary);
  color: var(--color-table-text-primary);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.3em;
}

.ot_tbody {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.ot_tbody_1 {
  display: grid;
  grid-template-columns: 1fr;
}

.ot_data {
  overflow: hidden;
  background-color: var(--color-bg-primary);
  text-overflow: ellipsis;
  color: var(--color-table-text-primary);
}

.ot_chart {
  background-color: antiquewhite;
  vertical-align: middle;
  text-align: center;
}

.ot_tr {
  display: grid;
  grid-template-columns: 4fr 12fr;
  text-align: left;
  height: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ot_tr_right {
  display: grid;
  grid-template-columns: 6fr 6fr;
  text-align: left;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* For placing e.g. Progress bar inside a Row */
.ot_tr,
.ot_tr_right {
  position: relative;
}

.ot_tr:hover {
  background-color: var(--color-bg-hover);
  color: var(--color-text-hover);
}

.ot_tr_right:hover {
  background-color: var(--color-bg-secondary);
}

.ot_prompt {
  font-weight: 600;
  padding-top: 0.2em;
  padding-left: 8px;
  padding-right: 8px;
  /* border-right: 1px solid var(--color-border-primary); */
  border-right: 1px dashed #444;
}

.ot_inner {
  padding-top: 0.2em;
  padding-left: 8px;
  padding-right: 8px;
}

.ot_inner_right {
  text-align: right;
  padding-top: 0.2em;
  padding-left: 8px;
  padding-right: 8px;
}
