.page-footer {
  display: flex;
  align-content: flex-start;
  margin: 0;
  padding: 2px 0.5% 0 7%;
  background: var(--color-background-primary);
  color: var(--color-text-primary);
}

.linker {
  text-decoration: none;
  color: var(--color-text-primary);
}

.footer-container {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-content: flex-start;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.3em;
  color: var(--color-text-primary);
}

.left-item {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 80%;
  padding-left: 5px;
  /* border: 1px solid blue; */
  color: var(--color-text-primary);
}

.right-item {
  flex-flow: row;
  box-align: right;
  padding-top: 2px;
  color: var(--color-text-primary);
}
