.page-footer.expanded {
  padding: 2px 0.5% 0 7%;
}

.page-footer.not-expanded {
  padding: 2px 0.5% 0 2.2%;
}

.footer-container {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-content: flex-start;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.3em;
  color: var(--color-text-primary);
}

.footer-left {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 80%;
  padding-left: 5px;
  /* border: 1px solid blue; */
  color: var(--color-text-primary);
}

.footer-right {
  flex-flow: row;
  box-align: right;
  padding-top: 2px;
  color: var(--color-text-primary);
}

.footer-links {
  text-decoration: none;
  color: var(--color-text-primary);
}

.footer-social {
  height: 33px;
  width: 33px;
  color: var(--color-text-primary);
  filter: var(--color-img-filter);
}
