/*-----------------------------------------------------------------------------*/
.monitor-table {
  display: flex;
  flex-flow: row wrap;
  padding: 1px;
}

/*-----------------------------------------------------------------------------*/
.monitor-add input {
  margin: 0.1em;
  width: 40em;
  background-color: moccasin;
  padding: 0px;
}

/*-----------------------------------------------------------------------------*/
.data-table {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  position: relative;
  /* border: 1px solid #aaa; */
}

.dt-cell-left {
  padding: 4px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #aaa;
}

.dt-row {
  cursor: pointer;
}

.dt-row:hover {
  opacity: 1;
  /* background-color: lavender; */
  background-color: moccasin;
  cursor: pointer;
}

.dt-row-deleted {
  opacity: 0.3;
  cursor: none;
  text-decoration-line: line-through;
  font-style: italic;
}

.dt-cell-right {
  padding: 4px 10px 4px 4px;
  text-align: right;
  vertical-align: top;
  border: 1px solid #aaa;
}

.dt-cell-center {
  opacity: 0.5;
  padding: 4px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #aaa;
}

.dt-icon-tray {
  white-space: nowrap;
}

.dt-header {
  padding: 4px;
  text-align: center;
  vertical-align: top;
  background-color: #e2e5f0;
  border: 1px solid #aaa;
}
