/*-----------------------------------------------------------------------------*/
.data_table_half_wide_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  border: 1px solid var(--color-border-primary);
  background-color: #f0f0f0;
  font-size: 13px;
  width: var(--data-table-width);
}
