:root {
  --color-background: #8d9cab;
  --logo-width: 50px;
  --logo-height: 70px;
  --header-font-size: 1.8em;
  --header-small-factor: 0.6;
  --header-height: 74px;
  --footer-height: 54px;
  --color-border-primary: #777;
  --color-border-seconary: #ddd;
}

#root {
  overflow: auto;
}

/*------------------------------------------*/
.page-container {
  margin: 2px;
  padding: 2px 8px 2px 2px;
  border: 1px dotted black;
  background-color: var(--color-background);
  height: calc(100vh - 4px);

  display: grid;
  grid-template-rows: auto calc(100vh - var(--header-height) - var(--footer-height) - 10px) minmax(54px, 78px);
  grid-auto-rows: minmax(min-content, max-content);
}

/*------------------------------------------*/
.header-item {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.header-item {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  align-items: center;

  background-color: var(--color-background);
}

.footer-item {
  display: flex;
  align-content: flex-start;
  margin: 2px 2px 0 2px;
  padding: 5px 5% 5px 7%;

  background: var(--color-background);
}

/*------------------------------------------*/
.header-right {
  text-align: center;
  line-height: 0.75em;
  /* background-color: orange;
  display: flex;
  flex-flow: column;
  align-content: flex-end; */
}

.header-item img.logo,
.header-item .app.title {
  transition: 0.4s all;
}

/*------------------------------------------*/
.menu-panel {
  border-right: 1px solid #ddd;
}

/*------------------------------------------*/
.inner-panel {
  flex-basis: auto;
  min-width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: pink; */
}

/*------------------------------------------*/
.logo {
  width: var(--logo-width);
  height: var(--logo-height);
  margin: 2px 10px 2px 4px;
}

/*------------------------------------------*/
.title {
  font-size: 1.6em;
  font-weight: 300;
  border-bottom: 1px solid #777;
  margin-top: 2px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.title.app {
  font-size: var(--header-font-size);
  border: 0px !important;
  margin: 0;
  color: #444;
}

.title.inner-page {
  color: #cdada7;
}

.title.status {
  color: #4c7c9c;
}

/* Minimum height layout */

@media screen and (max-height: 600px) {
  .body-item {
    margin-bottom: 0;
  }

  .footer-item {
    position: static;
    border-bottom: none;
    padding-left: 7%;
    margin: 0;
  }
}
