/*------------------------------------------*/
:root {
  /**/
  --color-bg-primary: #1f2605;
  --color-bg-secondary: #53900f;
  --color-text-primary: white;
  --color-border-primary: #1f2605;
  --color-bg-hover: #d6ce15;
  --color-text-hover: #1f2605;
  /**/
  --color-table-bg-primary: #53900f;
  --color-table-bg-secondary: white;
  --color-table-text-primary: #1f2605;
  --color-table-border-primary: #1f2605;
  /* For the filters, see https://codepen.io/sosuke/pen/Pjoqqp -- filters color SVG files and logos */
  --logo-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2106%) hue-rotate(68deg) brightness(125%)
    contrast(111%);
  --social-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2106%) hue-rotate(68deg)
    brightness(125%) contrast(111%);
  /**/
  --logo-height: 60px;
  --logo-width: 43px;
  /**/
  --page-header-height: 74px;
  --page-footer-height: 54px;
  /**/
  --datatable-width: 98%;
}

/*------------------------------------------*/
.whole-page {
  display: grid;
  grid-template-rows: auto calc(100vh - var(--page-header-height) - var(--page-footer-height) - 10px) minmax(54px, 78px);
  grid-auto-rows: minmax(min-content, max-content);
  height: calc(100vh - 6px);
  background-color: var(--color-bg-primary);
  border: 3px ridge #bbbbbb;
  padding: 8px;
  margin: 2px;
}

.page-header {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.page-body {
  display: grid;
  align-content: flex-start;
  grid-template-columns: 2fr 2fr 78fr 2fr;
  grid-template-rows: 1fr;
}

.page-footer {
  display: flex;
  align-content: flex-start;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

/*------------------------------------------*/
.menu-panel {
  border-right: 1px solid #ddd;
}

/*------------------------------------------*/
.inner-panel {
  flex-basis: auto;
  min-width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: pink; */
}

/*------------------------------------------*/
.title {
  font-size: 1.6em;
  font-weight: 300;
  border-bottom: 1px solid #777;
  margin-top: 2px;
  margin-bottom: 8px;
  text-transform: capitalize;
  color: var(--color-text-primary);
}

.title.status {
  color: #4c7c9c;
}

/* Minimum height layout */
@media screen and (max-height: 600px) {
  .body-item {
    margin-bottom: 0;
  }

  .footer-item {
    position: static;
    border-bottom: none;
    padding-left: 7%;
    margin: 0;
  }
}

.left-body-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 3px 0px;
  overflow: hidden;
}

.left-body-container.expanded {
  min-width: 7%;
}

.left-body-container.toggle-button {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  padding: 0;
}

.left-body-container.expanded .toggle-button {
  text-align: right;
}

.status-panel {
  background: white;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: var(--color-border-primary);
  overflow: hidden;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-top: 1px solid var(--color-border-primary) !important;
  border-bottom: 1px solid var(--color-border-primary) !important;
  background-color: white;
  overflow-y: auto;
}

.help-panel {
  background: white;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--color-border-primary);
  overflow: hidden;
}

h4 {
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #03415d;
}

.title.app {
  color: var(--color-text-primary);
  font-size: 1.8em;
  border: 0px !important;
  margin: 0;
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
  margin: 2px 10px 2px 4px;
  filter: var(--logo-filter);
}

#root {
  overflow: auto;
}

.page-body.help-expanded {
  grid-template-columns: 2fr 2fr 68fr 12fr;
}

.page-body.status-expanded {
  grid-template-columns: 2fr 12fr 68fr 2fr;
}

.page-body.status-expanded.help-expanded {
  grid-template-columns: 2fr 12fr 58fr 12fr;
}

.page-body.menu-expanded {
  grid-template-columns: 6fr 2fr 74fr 2fr;
}

.page-body.menu-expanded.help-expanded {
  grid-template-columns: 6fr 2fr 64fr 12fr;
}

.page-body.menu-expanded.status-expanded {
  grid-template-columns: 6fr 12fr 64fr 2fr;
}

.page-body.menu-expanded.status-expanded.help-expanded {
  grid-template-columns: 6fr 12fr 54fr 12fr;
}
