/*------------------------------------------*/
:root {
  /**/
  --color-bg-primary: #1f2605;
  --color-bg-secondary: #53900f;
  --color-bg-tertiary: white;
  --color-text-primary: white;
  --color-border-primary: #1f2605;
  --color-bg-hover: #d6ce15;
  --color-text-hover: #1f2605;
  /**/
  --color-table-bg-primary: #53900f;
  --color-table-bg-secondary: white;
  --color-table-text-primary: #1f2605;
  --color-table-border-primary: #1f2605;
  /* For the filters, see https://codepen.io/sosuke/pen/Pjoqqp -- filters color SVG files and logos */
  --color-img-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2106%) hue-rotate(68deg)
    brightness(125%) contrast(111%);
  /**/
  --logo-height: 60px;
  --logo-width: 43px;
  /**/
  --page-header-height: 74px;
  --page-footer-height: 54px;
  /**/
  --datatable-width: 98%;
}

/*------------------------------------------*/
.whole-page {
  display: grid;
  grid-template-rows: auto calc(100vh - var(--page-header-height) - var(--page-footer-height) - 15px) minmax(54px, 74px);
  grid-auto-rows: minmax(min-content, max-content);
  height: calc(100vh - 6px);
  background-color: var(--color-bg-primary);
  border: 3px ridge #bbbbbb;
  padding: 8px;
  margin: 2px;
}

/*------------------------------------------*/
.page-header {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  margin-bottom: 5px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

/*------------------------------------------*/
.page-body {
  display: grid;
  align-content: flex-start;
  grid-template-columns: 2fr 2fr 78fr 2fr;
  grid-template-rows: 1fr;
}

/*------------------------------------------*/
.page-footer {
  display: flex;
  align-content: flex-start;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

/*------------------------------------------*/
.side-panel {
  flex-basis: 15%;
  min-width: 15%;
  padding: 0px 10px 15px 10px;
  background-color: var(--color-bg-tertiary);
}

/*------------------------------------------*/
.menu-panel {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  margin: 1px;
}

/*------------------------------------------*/
.status-panel {
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--color-border-primary);
  overflow: hidden;
}

/*------------------------------------------*/
main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-border-primary) #dddddd;
  /* border-top: 1px solid var(--color-border-primary) !important; */
  /* border-bottom: 1px solid var(--color-border-primary) !important; */
  background-color: var(--color-bg-tertiary);
  overflow-y: auto;
}

/*------------------------------------------*/
.help-panel {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--color-border-primary);
  overflow: hidden;
}

/*------------------------------------------*/
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  text-align: left;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0.5em;
  margin: 0px 3px 3px 0px;
  border: 1px solid #6b7a89;
  background-color: #a7b7c2;
  opacity: 0.75;
}

.menu-item.is-active {
  font-weight: 700;
  opacity: 1;
  color: #42505f;
  background-color: #e2e5f0;
  border: 1px dashed #6b7a89;
}

.menu-item:hover {
  font-weight: 500;
  opacity: 0.75;
  color: var(--color-text-hover);
  background-color: var(--color-bg-hover);
}

/*------------------------------------------*/
.submenu-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.submenu-item {
  width: 90%;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.95em;
  text-align: left;
  opacity: 0.75;
  color: white;
  background-color: #a7b7c2;
  border: 1px solid #6b7a89;
  border-left: 3px solid #444444;
  margin: 0px 0px 3px 10px;
  padding: 0.3em;
}

.submenu-item:hover {
  font-weight: 500;
  opacity: 0.75;
  color: var(--color-text-hover);
  background-color: var(--color-bg-hover);
  border: 1px solid #bbb;
  border-left: 3px solid #444444;
}

.submenu-item a {
  text-decoration: none;
}

.submenu-item.is-active {
  background-color: var(--color-bg-hover);
  color: var(--color-text-hover);
  font-weight: 500;
  opacity: 1;
}

.submenu-icon {
  height: 30px;
  margin: 0 7%;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  opacity: 0.75;
  margin: 2px;
}

.submenu-icon:hover {
  font-weight: 500;
  opacity: 0.75;
  color: var(--color-text-hover);
  background-color: var(--color-bg-hover);
  border: 1px solid #bbb;
}

.submenu-icon.is-active {
  font-weight: 500;
  opacity: 1;
  color: var(--color-text-hover);
  background-color: var(--color-bg-hover);
}

/*------------------------------------------*/
.inner-panel {
  flex-basis: auto;
  min-width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: pink; */
}

/*------------------------------------------*/
.title {
  color: #4c7c9c;
  font-size: 1.6em;
  font-weight: 300;
  text-transform: capitalize;
  border-bottom: 1px solid #777;
  margin-top: 2px;
  margin-bottom: 8px;
}

.title.app {
  color: var(--color-text-primary);
  font-size: 1.8em;
  border: 0px !important;
  margin: 0;
}

h4 {
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #03415d;
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
  margin: 2px 10px 2px 4px;
  filter: var(--color-img-filter);
}

#root {
  overflow: auto;
}

.page-body.help-expanded {
  grid-template-columns: 2fr 2fr 68fr 12fr;
}

.page-body.status-expanded {
  grid-template-columns: 2fr 12fr 68fr 2fr;
}

.page-body.status-expanded.help-expanded {
  grid-template-columns: 2fr 12fr 58fr 12fr;
}

.page-body.menu-expanded {
  grid-template-columns: 6fr 2fr 74fr 2fr;
}

.page-body.menu-expanded.help-expanded {
  grid-template-columns: 6fr 2fr 64fr 12fr;
}

.page-body.menu-expanded.status-expanded {
  grid-template-columns: 6fr 12fr 64fr 2fr;
}

.page-body.menu-expanded.status-expanded.help-expanded {
  grid-template-columns: 6fr 12fr 54fr 12fr;
}

/* Minimum height layout */
@media screen and (max-height: 600px) {
  .body-item {
    margin-bottom: 0;
  }

  .footer-item {
    position: static;
    border-bottom: none;
    padding-left: 7%;
    margin: 0;
  }
}
