.app-content {
  display: grid;
  align-content: flex-start;

  grid-template-columns: 2fr 2fr 78fr 2fr;
  grid-template-rows: 1fr;
}

.left-body-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 3px 0px;
  overflow: hidden;
}

.left-body-container.expanded {
  min-width: 7%;
}

.left-body-container .toggle-button {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  padding: 0;
}

.left-body-container.expanded .toggle-button {
  text-align: right;
}

.status-panel {
  background: white;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: var(--color-border-primary) var(--color-border-seconary) var(--color-border-primary) var(--color-border-primary);
  overflow: hidden;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid var(--color-border-primary);
  background-color: white;
  overflow-y: auto;
}

.help-panel {
  background: white;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--color-border-primary) var(--color-border-primary) var(--color-border-primary) var(--color-border-seconary);
  overflow: hidden;
}

/* Grid */

/* 1. Help expanded */
.app-content.help-expanded {
  grid-template-columns: 2fr 2fr 68fr 12fr;
}

/* 2. Status expanded */
.app-content.status-expanded {
  grid-template-columns: 2fr 12fr 68fr 2fr;
}

/* 3. Status and help expanded */
.app-content.status-expanded.help-expanded {
  grid-template-columns: 2fr 12fr 58fr 12fr;
}

/* 4. Only menu expanded */
.app-content.menu-expanded {
  grid-template-columns: 6fr 2fr 74fr 2fr;
}

/* 5. Menu and help expanded */
.app-content.menu-expanded.help-expanded {
  grid-template-columns: 6fr 2fr 64fr 12fr;
}

/* 6. Menu and status expanded */
.app-content.menu-expanded.status-expanded {
  grid-template-columns: 6fr 12fr 64fr 2fr;
}

/* 7. Everything expanded expanded */
.app-content.menu-expanded.status-expanded.help-expanded {
  grid-template-columns: 6fr 12fr 54fr 12fr;
}
