@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Thin'), url(./fonts/Lato/Lato-Thin.ttf) format('ttf');
  font-weight: 300;
}

html, body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #8d9cab;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.0em;
  line-height: 1em;
  background-color: #a7b7c2;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 1em;
  margin: 10px 5px;
  /* box-shadow: 5px 5px 0 #f0efef; */
}

header a:hover {
  background-color: #e2e5f0;
  color: #6f8296;
}

header a.is-active {
  color: #42505f;
  font-weight: 700;
  background-color: #e2e5f0;
}


main {
  margin: 5px;
}

h1 {
  margin: 1.2em 0;
  font-size: 1.6em;
  font-weight: 300;
  color: #333;
  border-bottom: 1px solid #333;
}

.system-status h1 {
  color: #4c7c9c;
}

.system-progress h1 {
  color: #cdada7;
}

.monitor-status h1 {
  color: #ff9238;
}

.home {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;

}

.system-status {
  width: 30%;
}

.system-progress {
  width: 70%;
}

.fun-facts {
  display: flex;
}

.fun-facts div {
  width: 50%;
  height: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.system-progress .chart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
}

.system-progress .chart-container .grid {
  width: 9%;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.grid.x-axis, .grid.y-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-weight:300;
}

.grid.y-axis {
  height: 50px;
}

.system-progress .chart-container .grid .filling {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.system-progress .chart-container .grid .filling.finalized {
  background-color: #daeeda;
  color: #72aa74;
  font-weight: 300;
  font-size: .7em;
}

.system-progress .chart-container .grid .filling.inactive {
  background-color: #fff;
}

.system-progress .chart-container .grid .filling.in-progress {
  background: repeating-linear-gradient(-45deg, #daeeda, #daeeda 5px, white 5px, white 10px);
  /* background-size: 50px; */
  background-repeat: repeat;
}

.system-progress .chart-container .grid .filling.finalized:hover,
.system-progress .chart-container .grid .filling.in-progress:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  color: #b9c7b9;
}

.system-status, .system-progress {
  padding: 5px;
}

.system-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 .2em;
}

.system-details .item.grouping {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  color: #03415d;
  margin-top:1em;
  padding-left: 0;
}

.system-details .disconnected {
  color: rgb(180, 5, 5);
}

.system-details .connected {
  color: #97cc3b;

}

.system-details .item.small {
  font-size: .8em;
}

.system-details .item, .monitor-details.item {
  width: 50%;
  border-bottom: 1px solid #EEE;
  padding-left: 1em;
}

.system-status button {
  margin: 1em auto;
  display: block;
}

.monitor-status {
  width: 100%;
}

.monitor-details {
  display: flex;
  flex-flow: row wrap;
}

.monitor-details .detail-container {
  border: 1px dotted #ddd;
  width: 100%;
  padding: .5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.monitor-details .detail-container .row-detail {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}

/* .monitor-details .detail-container .row-detail:hover {
  background-color: #EEE;
} */

.monitor-details .detail-container.disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

.hidden {
  display: none;
}

.index {
  width: 10%;
}

.display-name {
  width: 60%;
}

.size {
  width: 20%;
}

.trash {
  opacity: .6;
  width: 10%;
  cursor: pointer;
  text-align: right;
  padding-right: 1em;
}

.disabled .trash {
  visibility: hidden;
}

.trash:hover {
  opacity: 1;
}

.monitor-details .detail-container .detail {
  width: 80%;
  padding: .5em;
}

.monitor-details .name {
  font-weight: 700;
}

.monitor-details .address {
  font-size: .7em;
}

.monitor-details li {
  list-style-type: none;
  font-size: .8em;
}

button:disabled {
  opacity: 0.5;
}

.setting-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 .2em;
}

.setting-group {
  width: 100%;
}

.setting-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: .1em;
}

.setting-row label {
  width: 15%;
}

.setting-row .input {
  width: 30%;
}

.setting-row .input input {
  width: 90%;
}

.setting-row .description {
  width: 40%;
}

.setting-row .data-type {
  width: 15%;
}
