/*-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Thin'), url(./fonts/Lato/Lato-Thin.ttf) format('ttf');
  font-weight: 300;
}

/*-----------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

/*-----------------------------------------------------------------------------*/
html {
  font-size: 100%;
}

/*-----------------------------------------------------------------------------*/
body {
  font-family: -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
