@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('ttf');
}

html, body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding:1em;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

header a {
  color: #4a2aff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
}

header a:hover {
  text-decoration: underline;
}

header a.is-active {
  /* color: #3888ad; */
  text-decoration: underline;
}

button:disabled {
  opacity: 0.5;
}

.home {
  display: flex;
  align-items: start;
  flex-flow: row wrap;

}

.system-status {
  width: 30%;
}

.system-progress {
  width: 70%;
}

.system-status, .system-progress {
  padding: 5px;
}


.system-status h1, .monitor-status h1, .system-progress h1 {
  margin: 1.2em 0;
  font-size: 1.1em;
  background-color: #EEE;
  padding: .5em .5em;
}

.system-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 .2em;
}

.system-details .item.grouping {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
  color: #03415d;
  margin-top:1em;
  padding-left: 0;
}

.system-details .disconnected {
  color: rgb(180, 5, 5);
}

.system-details .connected {
  color: #97cc3b;

}

.system-details .item.small {
  font-size: .8em;
}

.system-details .item, .monitor-details.item {
  width: 50%;
  border-bottom: 1px solid #EEE;
  padding-left: 1em;
}

.system-status button {
  margin: 1em auto;
  display: block;
}

.monitor-status {
  width: 100%;
}

.monitor-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.monitor-details .detail-container {
  border: 1px dotted #ddd;
  width: 25%;
  padding: .5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.monitor-details .detail-container .no {
  width: 20%;
  background-color: #eee;
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.trash {
  width: 100%;
  opacity: .3;
  cursor: pointer;
}

.trash:hover {
  opacity: .6;
}

.monitor-details .detail-container .detail {
  width: 80%;
  padding: .5em;
}

.monitor-details .name {
  font-weight: 700;
}

.monitor-details .address {
  font-size: .7em;
}

.monitor-details li {
  list-style-type: none;
  font-size: .8em;
}


.progress-bar {
  background-color: #EEE;
  height: 25px;
  padding: 5px;
  width: 100%;
  margin: 1em 0;         
  border-radius: 5px;
  line-height:0;           
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out;    
}

.blue span {
  background-color: #34c2e3;   
}

.orange span {
    background-color: #fecf23;
    background-image: linear-gradient(to bottom, #fecf23, #fd9215);  
}   

.green span {
    background-color: #a5df41;
    background-image: linear-gradient(to bottom, #a5df41, #4ca916);  
}

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                      transparent 75%, transparent);            
  background-repeat: repeat-x;
  animation: animate-stripes 10s linear infinite;             
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
