/*-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Thin'), url(./fonts/Lato/Lato-Thin.ttf) format('ttf');
  font-weight: 300;
}

/*-----------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}

/*-----------------------------------------------------------------------------*/
html {
  font-size: 100%;
}

/*-----------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/*-----------------------------------------------------------------------------*/
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  background-color: #8d9cab;
}

/*-----------------------------------------------------------------------------*/
header a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-size: 1em;
  line-height: 1em;
  background-color: #a7b7c2;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px 3px;
  border: 1px dashed grey;
  /* box-shadow: 5px 5px 0 #f0efef; */
}

/*-----------------------------------------------------------------------------*/
header a.is-active {
  color: #42505f;
  font-weight: 700;
  background-color: #e2e5f0;
}

/*-----------------------------------------------------------------------------*/
header a:hover {
  background-color: #e2e5f0;
  /* background-color: antiquewhite; */
  color: #6f8296;
}

/*-----------------------------------------------------------------------------*/
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  background-color: #8d9cab;
}

/*-----------------------------------------------------------------------------*/
main {
  margin: 0 35px;
  /* border: solid 4px purple; */
  /* debug-css */
}

main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  margin: 1.2em 0;
  font-size: 1.6em;
  font-weight: 300;
  color: #333;
  border-bottom: 1px solid #333;
  /* border: 4px solid lightgray; */
  /* debug-css */
}

.logo {
  width: 40px;
  padding: 4px;
}

.page {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  /* border: 4px solid green; */
  /* debug-css */
}

/*-----------------------------------------------------------------------------*/
.inner-panel {
  padding: 0px;
  width: 100%;
  margin-top: 0px;
  /* border: 4px solid magenta; */
  /* debug-css */
}

.inner-panel h4 {
  width: 100%;
  padding-left: 0;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #03415d;
}

/*-----------------------------------------------------------------------------*/
.right-panel {
  padding-left: 15px;
  width: 80%;
  height: 100%;
  border-left: 1px solid #ddd;
  /* border: 4px solid blue; */
  /* debug-css */
}

.right-panel h1 {
  color: #cdada7;
  margin: 26px 0px 5px 0px;
  /* border: 4px solid green; */
  /* debug-css */
}

.right-panel h3 {
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------*/
.setting-container {
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  /* border: 4px solid pink; */
  /* debug-css */
}

.setting-group {
  margin-top: 0px;
  width: 100%;
  /* padding: 5px; */
  /* border: 4px solid blue; */
  /* debug-css */
}

.setting-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.1em;
  /* border: 4px solid green; */
  /* debug-css */
}

.setting-row label {
  width: 14%;
  /* border: 1px dashed grey; */
}

.setting-row side {
  width: 1%;
  /* border: 1px dashed grey; */
}

.setting-row .input {
  width: 40%;
  /* border: 1px dashed grey; */
}

.setting-row .input input {
  width: 90%;
  /* border: 1px dashed grey; */
}

.setting-row .description {
  width: 35%;
  /* border: 1px dashed grey; */
}

.setting-row .data-type {
  width: 5%;
  /* border: 1px dashed grey; */
}

.material-icons.md-20 {
  font-size: 20px;
  padding-right: 3px;
  opacity: 54%;
}

.material-icons.md-20:hover {
  opacity: 100%;
}

.identicon {
  border-radius: 30%;
  border: 1px grey solid;
  opacity: 75%;
}

.identicon-deleted {
  border-radius: 30%;
  border: 1px grey solid;
  opacity: 75%;
  visibility: hidden;
}

.identicon:hover {
  opacity: 100%;
}
