/*-----------------------------------------------------------------------------*/
.data_table {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  width: var(--data-table-width);
  background-color: var(--color-table-bg-secondary);
  border-left: 1px solid var(--color-border-primary);
  margin-bottom: 10px;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------*/
.dt_thead {
  display: grid;
  text-align: center;
  font-weight: 600;
  vertical-align: middle;
  text-transform: capitalize;
}

.dt_th {
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid var(--color-border-primary);
  border-bottom: 3px double var(--color-border-primary);
  background-color: var(--color-table-bg-primary);
  color: var(--color-table-text-primary);
}

/*-----------------------------------------------------------------------------*/
.dt_tr {
  display: grid;
  color: var(--color-table-text-primary);
}

.dt_tr:hover {
  opacity: 1;
  background-color: var(--color-bg-hover);
  color: var(--color-text-hover);
}

.dt_tr.deleted {
  opacity: 0.5;
  text-decoration-line: line-through;
  font-style: italic;
}

/*-----------------------------------------------------------------------------*/
.dt_td {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
  text-align: left;
  border-right: 1px solid var(--color-border-primary);
  border-bottom: 1px solid var(--color-border-primary);
  white-space: nowrap;
}

.dt_td.number {
  text-align: right;
}

/*-----------------------------------------------------------------------------*/
.dt_foot {
  font-size: 12px;
  display: grid;
  text-align: right;
  vertical-align: middle;
}

/*-----------------------------------------------------------------------------*/
.one_bang {
  grid-template-columns: 1fr;
}

.two_bang {
  grid-template-columns: 1fr 1fr;
}

.three_bang {
  grid-template-columns: 1fr 1fr 1fr;
}

.four_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.five_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.six_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.seven_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.eight_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nine_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ten_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.eleven_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twelve_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.thirteen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fourteen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fifteen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.sixteen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.seventeen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.eightteen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nineteen_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twenty_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentyone_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentytwo_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentythree_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentyfour_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentyfive_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentysix_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.twentyseven_bang {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
