/*-----------------------------------------------------------------------------*/
.right-panel .chart-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  border-left: 0px solid white !important;
}

.right-panel .chart-container .grid {
  width: 9%;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.right-panel .chart-container .grid .filling {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-panel .chart-container .grid .filling.finalized {
  background-color: #fff;
  color: #72aa74;
  font-weight: 300;
  font-size: 0.7em;
}

.right-panel .chart-container .grid .filling.inactive {
  background-color: #fff;
}

.right-panel .chart-container .grid .filling.in-progress {
  background: repeating-linear-gradient(-45deg, #daeeda, #daeeda 5px, white 5px, white 10px);
  /* background-size: 50px; */
  background-repeat: repeat;
}

.right-panel .chart-container .grid .filling.finalized:hover,
.right-panel .chart-container .grid .filling.in-progress:hover {
  background-color: #f2f2f2;
  cursor: zoom-in;
  color: #b9c7b9;
}
