/*-----------------------------------------------------------------------------*/
.side-panel.shrinked {
  position: relative;
  min-width: auto;
  flex-basis: auto;
}

.side-panel:not(.shrinked) .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-panel.shrinked .title {
  border-bottom: none;
}

.side-panel.shrinked .title span {
  position: absolute;
  left: 0.7em;
  transform-origin: left;
  line-height: 1;
  word-break: normal;
}

.side-panel.shrinked.shrink-to-left .title span {
  transform: rotate(-90deg);
  top: 3.8em;
}

.side-panel.shrinked.shrink-to-right .title span {
  transform: rotate(90deg);
  top: 1.1em;
  left: 0.8em;
}
