/*-----------------------------------------------------------------------------*/
.other_detail_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e2e5f0;
  text-align: center;
  border-bottom: 1px solid darkgrey;
  text-transform: capitalize;
  height: 28px;
  font-weight: 600;
}

.other_detail_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 25px;
}

.other_detail_row:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
